# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Expo / React Native
.expo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo-shared/

# Build outputs
dist/
build/

# IDE / System / Temp files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.tempmediaStorage/
artifacts/
